body {
  background-color: #FAE6FA;
}
h1 {color: #E3FFFF;}
h2 {color: #E3FFFF;}
h1 {
background-color: #D399FF;
  
}
p {color: #2291B5 ;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h2 {background-color: #D399FF;}
