body {
  background-color: #FFCFF9;
}
h1 {color: #E3FFFF;}
h2 {color: #E3FFFF;}
h1 {
background-color: #2A50A3;
  
}
p {color: #FF29D3 ;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h2 {background-color: #2A50A3;}

